$enable-negative-margins: true;

$white: #fff;
$gray-100: #f7f6f0;
$gray-200: #eaeae0;
$gray-300: #dbdbd4;
$gray-400: #9f9e9a;
//$gray-500: #adb5bd;
//$gray-600: #6c757d;
//$gray-700: #495057;
//$gray-800: #343a40;
//$gray-900: #212529;
$black: #000;

//$blue: #044559;
//$indigo: #6610f2;
//$purple: #6f42c1;
//$pink: #d63384;
//$red: #dc3545;
//$orange: #fd7e14;
//$yellow: #ffc107;
//$green: #198754;
$teal: #15adb7;
//$cyan: #3bd9d1;

$teal-100: tint-color($teal, 80%);
$teal-200: tint-color($teal, 60%);
$teal-300: tint-color($teal, 40%);
$teal-400: #3bd9d1;
$teal-500: $teal;
$teal-600: shade-color($teal, 20%);
$teal-700: shade-color($teal, 40%);
$teal-800: shade-color($teal, 60%);
$teal-900: #044559;

$primary: $teal-900;

$body-color: $primary;

$font-size-base: 1.1rem;
$font-size-sm: $font-size-base * 0.75;
$font-size-lg: $font-size-base * 1.2;

$display-font-sizes: (
	1: 5rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
);

$grid-gutter-width: 3rem;
$grid-gutter-width-half: $grid-gutter-width * 0.5 !default;

$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 5,
	gutter: $grid-gutter-width * 0.5,
	spacer: $spacer * 5,
);

$aspect-ratios: (
	'1x1': 100%,
	'16x9': calc(9 / 16 * 100%),
	'16x11': calc(11 / 16 * 100%),
);

$font-family-sans-serif: 'Barlow', Helvetica, sans-serif;
$headings-font-weight: 700;
$display-font-weight: $headings-font-weight;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-base: $font-weight-normal;

$paragraph-margin-bottom: 2rem;
