.tw-page-wrapper {
	margin-top: 10px;
	.tablink {
		margin-right: 2px;
		border: 0;
		padding: 8px 10px;
		border: 1px solid #ccc;
		border-bottom: 0;
		cursor: pointer;

		&:not(:first-child) {
			margin-left: 2px;
		}
	}

	.tablink.active {
		background: #444;
		border-color: #444;
		color: #fff;
	}

	.form-table {
		th {
			width: 160px;
			padding: 10px 10px 10px 0;
		}

		td {
			padding: 5px;
		}

		input[type='text'],
		input[type='email'],
		input[type='number'],
		textarea,
		table {
			width: 100%;
		}
	}

	.repeater-group {
		transition: all 0.2s;
	}

	.repeater-groups-holder {
		padding: 0 !important;
		position: relative;

		table {
			background: #eee;
			padding: 6px 0 6px 40px;
			margin-bottom: 10px;
			position: relative;

			.action-bar {
				height: 0;

				.dashicons-editor-ul {
					background: #ddd;
					padding: 4px;
					box-sizing: border-box;
					cursor: pointer;
					left: 0;
					top: 0;
					position: absolute;
					width: 30px;
					height: 100%;
					left: 0;
					top: 0;
					display: flex;
					align-items: center;
				}

				.dashicons-trash {
					background: #da0202;
					padding: 4px;
					cursor: pointer;
					position: absolute;
					right: -30px;
					top: 0;
					height: 100%;
					box-sizing: border-box;
					width: 30px;
					align-items: center;
					display: none;
					text-align: center;
					color: white;
					opacity: 0.4;
				}
			}

			th {
				width: 114px;
			}

			&:hover {
				.dashicons-trash {
					display: flex;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.add-block {
			position: absolute;
			right: 0;
			top: -40px;
		}
	}

	.tabs {
		border-bottom: 1px solid #ccc;
		padding: 0 12px;
		margin: 0 -12px;
		margin-top: 20px;
	}

	h3 {
		color: green;
	}

	label.disabled {
		color: #ccc;
	}

	textarea {
		line-height: 20px;
	}

	.CodeMirror {
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.twtheme-field-description {
		font-size: 0.7rem;
		color: #999;
		margin-top: 0.2rem;
	}

	input[editable] {
		width: calc(100% - 50px) !important;
		margin-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		+ .button {
			cursor: pointer;
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			width: 49px;
			position: relative;

			> span {
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}

.image_preview {
	height: 40px;
	width: auto;
}

.tw_page_settings {
	.image_preview {
		max-height: 80px;
		height: auto;
		width: auto;
	}
}

.tw-options {
	h1 {
		position: relative;
		width: 100%;

		a {
			position: absolute;
			right: 0;
		}
	}

	.block h3 input {
		border-width: 0;
		width: 100%;

		&:hover {
			border-width: 1px;
		}
	}
	.tabcontent {
		position: relative;
		margin-bottom: 4px;
	}

	label {
		position: absolute;
		height: calc(100% - 2px);
		line-height: 40px;
		background: #eee;
		padding: 0 10px;
		width: 20px;
		text-align: center;
		font-weight: bold;
		top: 1px;
		left: 2px;
		border-radius: 4px 0 0 4px;
	}

	h3 {
		position: relative;
	}

	.delete-block {
		height: 30px !important;
		min-height: 30px !important;
		top: 0;
		right: -1px;
		position: absolute;
		i {
			line-height: 28px;
		}
	}
}

.tw-field-description {
	font-size: 11px;
	color: #888;
	margin-top: 4px;

	div {
		color: black;
	}

	li {
		margin: 0;
	}

	ul,
	ol {
		margin-bottom: 10px;
		margin-left: 2em;
		margin-top: 5px;
	}

	ul {
		list-style: disc;
	}
}

.tw_gallery_mtb {
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	li {
		position: relative;
		margin-right: 2px;
	}

	span {
		display: flex;
		width: 100px;
		height: 100px;
		background-size: cover;
		background-position: center center;
	}

	a {
		position: absolute;
		top: 0;
		right: 0;
		background: #fff;
		width: 20px;
		height: 20px;
		text-align: center;
		color: #000;
		text-decoration: none;
	}
}

.sortable-chosen {
	background: yellow !important;
	transition: all 0.2s;
	opacity: 0.4;

	.action-bar span:last-child {
		display: none !important;
	}
	* {
	}
}
