ul {
	$column-spacer: $grid-gutter-width-half * 0.5;
	--columns: 1;

	&.icon-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: -#{$grid-gutter-width-half - $column-spacer} -#{$grid-gutter-width-half - $column-spacer} 0 -#{$grid-gutter-width-half - $column-spacer};
		padding: 0;
		font-size: $font-size-sm;
		line-height: $line-height-sm;

		> li {
			padding: #{$column-spacer} #{$column-spacer} 0 #{$column-spacer};
			width: calc(100% / var(--columns));
			position: relative;
			padding-left: $spacer * 3;

			svg {
				position: absolute;
				top: $column-spacer * 1.5;
				left: $column-spacer;
				font-size: $font-size-lg;
				width: $column-spacer * 2;
			}
		}
	}

	li {
	}
}

ol.toc,
ol.toc ol {
	counter-reset: section;
	list-style-type: none;
}

ol.toc {
	padding: 0;

	li {
		padding-left: 1.3rem;
		position: relative;
		margin: 0.5rem 0;
		line-height: 1.2;

		ol {
			padding-left: 1rem;
		}

		li {
			padding-left: 2rem;
		}

		&::before {
			position: absolute;
			left: 0;
			counter-increment: section;
			content: counters(section, '.') '. ';
		}
	}

	a {
		text-decoration: none;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}

	> li > a {
		font-weight: bold;
	}
}
