.gmap-icon {
	transform: translateY(-7px);
	.icon-wrapper {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: var(--color);
		box-shadow: 0 0 0px 2px #fff;
		transition: all 0.3s;
		gap: 15px;
		padding: 0;
		color: $white;
		overflow: hidden;
	}

	&::after {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid var(--color);
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		bottom: -7px;
		transform: translate(-50%);
		width: 0;
		z-index: 2;
	}

	&::before {
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		border-top: 13px solid #fff;
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		bottom: -10px;
		transform: translate(-50%);
		width: 0;
		z-index: -1;
	}

	.icon {
		align-items: center;
		color: #fff;
		display: flex;
		justify-content: center;
		width: 36px;
		height: 36px;
		position: absolute;

		svg {
			width: 15px;
			height: 15px;
			fill: #fff;
		}
	}

	.details {
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
		width: 120px;
		padding: 8px 0;
		font-size: 0.75rem;
		min-height: 36px;

		.title {
			font-weight: bold;
		}

		.address:not(:empty) {
			margin-top: 5px;
		}
	}

	&.highlight {
		.icon-wrapper {
			background-color: var(--color);
			border-radius: 0;
			min-height: 36px;
			height: var(--height);
			width: 180px;
		}

		.details {
			display: flex;
			opacity: 1;
			flex-direction: column;
			visibility: visible;
			width: 120px;
			margin-left: 40px;
		}
	}
}

.twtheme-map {
	height: 100%;
	background-size: cover;

	&:not(.loaded) {
		position: relative;

		> div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			cursor: pointer;

			svg {
				font-size: 3rem;
			}
		}
	}

	div[role='dialog'],
	div[role='dialog'] + div {
		display: none;
	}
}

.ratio > .twtheme-map {
	position: absolute;
}
