#toc-scroller {
	a {
		padding: 0 ($spacer * 0.75);
		color: $gray-400;
		font-weight: 500;

		span {
			padding: $spacer 0;
			display: block;
			position: relative;
		}

		&.active {
			color: $primary;

			span::after {
				content: '';
				height: 3px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: $teal-400;
			}
		}

		&:hover {
			color: $primary;
		}
	}
}
