$white: #fff;
$gray-100: #f7f6f0;
$gray-200: #eaeae0;
$gray-300: #dbdbd4;
$gray-400: #9f9e9a;
//$gray-500: #adb5bd;
//$gray-600: #6c757d;
//$gray-700: #495057;
//$gray-800: #343a40;
//$gray-900: #212529;
$black: #000;

$blue: #044559;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #3bd9d1;

$display-font-sizes: (
	1: 5rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
);

$aspect-ratios: (
	'1x1': 100%,
	'16x9': calc(9 / 16 * 100%),
	'16x11': calc(11 / 16 * 100%),
);

$font-family-sans-serif: 'Barlow', Helvetica, sans-serif;
$headings-font-weight: 700;
$display-font-weight: $headings-font-weight;
