.gmap-icon {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	background-color: var(--color);
	transform: translateY(-7px);

	&::after {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: #fff;
		border-top: 10px solid var(--color);
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		bottom: -7px;
		transform: translate(-50%);
		width: 0;
		z-index: 1;
	}

	svg {
		width: 15px;
		height: 15px;
		fill: #fff;
	}
}

.twtheme-map {
	height: 100%;
}
