section {
	> hr {
		margin: 0;
	}

	h2 {
		margin-bottom: ($spacer * 3);
	}

	h3 {
		padding: ($spacer * 3) 0 ($spacer * 2);
	}

	p + h3 {
		margin-top: -#{$paragraph-margin-bottom};
	}

	h4 {
		margin-bottom: $paragraph-margin-bottom;
	}

	h4 + p {
		margin-top: -($paragraph-margin-bottom - ($paragraph-margin-bottom * 0.15));
	}
}
